details.postFile {
  transition: all 1s ease;
  overflow: hidden;
}

details.postFile summary {
  cursor: zoom-in;
}

details.postFile video {
  display: none;
  visibility: hidden;
}

details[open].postFile video {
  display: block;
  visibility: visible;
}

details[open].postFile summary {
  cursor: zoom-out;
}

details[open].postFile > summary::after {
  content: "close";
}

details[open].postFile > summary img {
  display: none;
}