.nojsonly-block {
  display: none;
}

.lpPostForm textarea {
  width: 100%;
}

.lpPostForm input[name="captcha"] {
  width: 100px;
}

.h {
  padding-left: 0;
  float: left;
}
.v {
}

.boarduri {
  font-family: monospace;
}

/* ported from hidefileinput.js */
.form-post input[name="files[]"] {
  /* not using display: none because we still want to show the browser prompt for a "required" file */
  position: absolute;
  border: none;
  height: 1px;
  width: 1px;
}

.board-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**/
/* NAV bar stuff */
/**/
.nav-item {
  font-size: 1.33em;
  line-height: 1.5em;
}

/* navigation selection */
.active {
  font-weight: bold;
}

#trigger {
  bottom: 0px;
  right: 0px;
  display: none;
}

#minimize {
  float: right;
  padding-right: 5px;
}

#userbar {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  /*
  height: 40px;
  line-height: 40px;
  */
}

/* has some overlap */
.fixed-common {
  /* background-color: #D6DAF0; */
  height: 40px;
  line-height: 40px;
  position: fixed;
}

#trigger {
  width: auto;
  top: auto;
  left: auto;
  bottom: 0px;
  right: 0px;
  display: none;
}

#maximize {
  padding-left: 5px;
  padding-right: 5px;
}

