<div id="livetext">
  <!-- div class="dot" id="livecolor"></div>
  Connecting... -->
  <!-- this should be style like it's own button -->
  <div id="refresh">
    <input type=checkbox {{enableAutoRefresh}} id="autoRefreshEnable" class="jsonly">
    <!-- input class="postform-style ml-5 di" type="button" value="Update" -->
    <a id="updatePage" href="{{url}}">Refresh</a>
    <span id="labelRefresh"></span>
  </div>
  <div id="refreshing" style="display: none">
    Refreshing...
  </div>
</div>