<div class="catalog">
  <ol>
{{banners}}
  </ol>
</div>
<!-- loop -->
<li><img class="board-banner" src="{{image}}" loading="lazy">
<!-- end -->
<!-- loop -->
<li><img src="{{image}}" width="{{w}}" height="{{h}}"> <a href="{{uri}}/settings/banners/{{id}}/delete.html">X</a>
<!-- end -->
<!-- loop -->
  <a href="{{uri}}/settings/banners/add.html">Add banner</a><br>
  {{banners}}
  <a href="{{uri}}/board_settings.php">Back to settings</a>
<!-- end -->
