<div class="catalog">
  {{searchForm}}
</div>
<div class="catalog">
  <table>
{{users}}
  </table>
</div>
<!-- loop -->
<li><img class="board-banner" src="{{backend}}/{{image}}" loading="lazy">
<!-- end -->
<!-- loop -->

<tr>
<th>{{publickey}}
<!-- td><a href="mailto:{{email}}">{{email}}</a -->
<td>{{groups}} <a href="admin/users/{{id}}/groups">change</a>
<td>{{created_at}}
<td>{{updated_at}}
<td><a href="admin/users/{{id}}/delete.html">X</a>

<!-- end -->
<!-- loop -->
  <a href="admin/users/add">Add user</a><br>
  {{users}}
  <a href="admin.php">Back to Admin</a>
<!-- end -->
