<h1 class="board-title">Board List</h1>
<!-- or try the <a href="overboard.php">overboard</a> -->
{{overboard}}
<div class="flexcenter mv-10">
  <form class="form-post" action="{{action}}" method="POST">
    <!-- hide nsfw, languages, filter out abandoned boards -->
    <div class="row">
      <div class="label">Search</div>
      <input type="text" name="search" placeholder="Uri or tags" value="{{search}}">
    </div>
    <div class="row">
      <div class="label">Sort</div>
      <select name="sort">
        <option value="popularity"{{popularitySelected}}>Popularity</option>
        <option value="activity"{{latestSelected}}>{{activityLabel}}</option>
      </select>
    </div>
    <div class="row">
      <div class="label">Order</div>
      <select name="direction">
        <option value="desc"{{descSelected}}>Descending</option>
        <option value="asc"{{ascSelected}}>Ascending</option>
      </select>
    </div>
    <input type="submit" value="Filter">
  </form>
</div>
<h4 class="board-description">Boards</h4>
<div class="table-container flex-center mv-10 text-center">
<table class="boardtable w900">
  <tr>
    <th>Link</th>
    <th>Name</th>
    <th>Description</th>
    {{fields}}
    <!-- th>PPH</th>
    <th>Users</th -->
    <th><nobr>Posts</nobr></th>
    <th><nobr>Actions</nobr>
    <th>Last Activity
{{boards}}
<!-- loop -->
  <h4 class="board-description">or try the <a href="overboard.php">overboard</a></h4>
<!-- end -->
<!-- loop -->
  <tr>
    <td class="boarduri">
      <a href="{{uri}}/"><nobr>/{{uri}}/</nobr></a>
    </td>
    <td>
      <nobr>{{title}}</nobr>
    </td>
    <td>{{description}}</td>
    <!-- td>pph</td>
    <td>users</td -->
    <td><nobr>{{posts}}</nobr></td>
    <td>
      {{actions}}
      <!-- details style="display: inline;">
        <summary>...</summary>
        <div style="position: relative; z-index: 1; background-color: var(--post-color); padding: 5px;">
        {{actions}}
        </div>
      </details -->
    <td style="background-color: #{{lastActivityColor}}"><nobr>{{last_post}}</nobr></td>
<!-- end -->
</table>
</div>

<div class="pages text-center mt-5 mv-0">
Page:
{{pages}}
<!-- loop -->
  <a class="{{bold}}" href="boards.html?{{qs}}">[{{page}}]</a>
<!-- end -->
</div>