account identifier: {{login}}<br>
{{admin}}
{{global}}
<a href="{{account}}">Account Settings</a><br>
<!-- make tag, userboards are configurable -->
<a href="{{create_board}}">Create Board</a><br>
Owned boards
<ul>
{{ownedBoards}}
</ul>
<a href="{{logout}}">Log out</a>
<!-- loop -->
  <li>{{uri}} {{actions}}
<!-- end -->
<!-- loop -->
  <a href="{{admin}}">Admin interface</a><br>
<!-- end -->
<!-- loop -->
  <a href="{{global}}">Global interface</a><br>
<!-- end -->
