<a href="create_board.php">Create Board</a><br>
Owned boards
<ul>
{{ownedBoards}}
</ul>
<a href="logout.php">Log out</a>
<!-- loop -->
  <li>{{uri}} <a href="{{uri}}">View</a> <a href="{{uri}}/settings">Settings</a>
<!-- end -->
