account identifier: {{login}}<br>
<ul>
{{admin}}
{{global}}
<a href="{{account}}">Account Settings</a><br>
<!-- for things like user_boards board creation -->
{{other_links}}
</ul>
Owned boards
<ul>
{{ownedBoards}}
</ul>
<a href="{{logout}}">Log out</a>
<!-- loop -->
  <li>{{uri}} {{actions}}
<!-- end -->
<!-- loop -->
  <a href="{{admin}}">Site settings</a><br>
<!-- end -->
<!-- loop -->
  <a href="{{global}}">Moderation interface</a><br>
<!-- end -->
<!-- loop -->
  <!-- we add bold to class if it's selected -->
  <!-- url, label, classes, id -->
  <a href="{{url}}" class="{{classess}}" id="{{id}}">{{label}}</a><br>
<!-- end -->
