  </div>
  </main>
  <div class="footer" id="bottom">
    {{footer_header}}
    {{footer_nav}}
    <!--
    - <a href="/news.html">news</a>
    - <a href="/rules.html">rules</a>
    - <a href="/faq.html">faq</a>
    -->
    Powered by lynxphp
    - <a href="https://gitgud.io/odilitime/lynxphp/">source code</a> - portions HTML/CSS MIT licensed from <a href="https://gitgud.io/fatchan/jschan/">jschan</a><br>
    <!--
    - <a href="http://eightchgaw4nnxcn66nszcgxzzvpjxnlfdv7djaxx5tcw25xlpyfjaqd.onion/"> .onion</a>
    -->
    {{footer_footer}}
  </div>
  <script src="js/lynxphp/embed.js"></script>
  <!-- script src="/js/render.js?v=3e2b361">
  </script -->
  {{end}}
</body>
</html>
