  </div>
  </main>
  <div class="footer" id="bottom">
    <!--
   - <a href="/news.html">news</a>
   - <a href="/rules.html">rules</a>
   - <a href="/faq.html">faq</a>
   -->
   Powered by lynxphp
   - <a href="https://gitgud.io/odilitime/lynxphp/">source code</a> - <br>
   <!--
   - <a href="http://eightchgaw4nnxcn66nszcgxzzvpjxnlfdv7djaxx5tcw25xlpyfjaqd.onion/"> .onion</a>
   -->
  </div>
  <!-- script src="/js/render.js?v=3e2b361">
  </script -->
</body>
</html>
