  </div><!-- close scroller -->
<!-- why a loop here? -->
<!-- loop -->
  <footer class="footer" id="bottom">
    {{footer_header}}
    {{footer_nav}}
    Powered by <a rel=noreferrer target=_blank href="https://gitgud.io/odilitime/lynxphp/">Double Plus</a>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel -->
    <!-- noreferrer includes noopener doesn't give external link any access to this page -->
    - <span title="We started with jschan's responsive HTML, CSS, and JS and have heavily modified it">portions</span> MIT licensed from <a rel=noreferrer target=_blank href="https://gitgud.io/fatchan/jschan/">jschan</a><br>
    {{footer_footer}}
  </footer>
  {{end}}
<!-- end -->