<!-- we'll leave the open body tag here so designers can mess with it -->
<body>
<!-- span class="jsonly">JS is enabled</span>
<span class="nojsonly-block">JS is disabled</span -->
  <nav class="navbar" id="navbar">
    <!-- items should not be out of order... -->
    <!-- a class="nav-item" href="." title="Home">Home</a -->
    {{boards}}
    <!--
    meta tag refresh loads the content onload, instead of waiting for it to be used
    iframe title="boards list subframe" id="boardsSubpageFrame" frameborder=0 name="boardFrame" style="width: 100vw; height: 50vh;" src="/boards_cacheable.html"></iframe
    what so bad if it's always loading from the cache?
    #boardsSubpage 50% is weird, maybe 1/3 or just go full screen... ?
    #boardsSubpageFrame class="nojsonly-block"  display: block;
    -->
    <!-- details id="boardsNav" style="display: inline-block">
      <summary class="nav-item">Boards</summary>
      <div id="boardsSubpage" style="position: absolute; top: 32px; left: 0; z-index: 1; padding: 5px; background-color: var(- -background-rest);">
        <iframe title="boards list subframe" id="boardsSubpageFrame" frameborder=0 name="boardFrame" style="width: 100vw; height: 50vh;" srcdoc='<a class="nojsonly-block" style="line-height: 100vh; text-align: center; width: 100vw; height: 100vh;" target="boardFrame" href="/boards_inline.html">Please click to load all the html for full board list</a>'></iframe>
      </div>
    </details -->
    {{leftNav}}
<!-- loop -->
    <a class="nav-item" href="{{url}}">{{label}}</a>
<!-- end -->
    <!-- a class="nav-item" href="ip" title="This IP is what our server sees, we're showing you so you can be aware and protect it">IP: ip</a -->
    {{rightNav}}
  </nav>
  <!-- div style="height: 50px"></div -->
<!-- scroll only below the nav: simulate fixed nav -->
<div style="overflow-y: auto; width: 100%; height: calc(100% - 50px);" id="scroller">
  <a name="top"></a>
  <main>
  <div class="container">
