<!-- https://www.w3.org/TR/resource-hints/ -->
<!-- pre-connect to backend for storage URLs -->
<link rel="preconnect" href="{{backend_url}}">
<base href="{{basehref}}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/lynxphp.css">
<link rel="stylesheet" href="css/scroller.css">
<!-- only really need this for the board pages -->
<link rel="stylesheet" href="css/expand.css">
<link rel="stylesheet" href="css/components/tabs.css">
<!-- link rel="stylesheet" href="css/wrongthinkII.css" -->
{{stylesheets}}
<noscript><style>
  .jsonly { display: none!important; }
  .nojsonly-block { display: block!important; }
</style></noscript>
<!-- link id="codetheme" rel="stylesheet" data-theme="ir-black" href="css/codethemes/ir-black.css" -->
<!-- link rel="manifest" href="/site.webmanifest" -->
<!-- link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<link rel="apple-touch-icon" sizes="144x144" href="/file/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/file/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/file/favicon-16x16.png">
<link rel="mask-icon" href="/file/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff" -->
<link rel="icon" href="favicon.php?type=ico" type="image/x-icon"><!-- Favicon link -->
<link rel="icon" href="favicon.php?type=png" type="image/png"><!-- Favicon for modern browsers and devices -->

<style>
details summary {
cursor: pointer;
}
#boardsNav[open] summary {
font-weight: bold;
}
</style>

<!-- meta property="og:site_name" value="">
<meta property="og:url" content="https://{{basehref}}">
<meta property="og:description" content="" -->
<title>{{title}}</title>
{{footer}}
