<h1 class="board-title"></h1>
<img style="display: block; margin-left: auto; margin-right: auto;" src="/file/logo.png" alt="">
<div class="table-container flex-center mv-10 text-center">
  <table>
    <tr><th class="alt">Welcome to
    <tr><td><pre class="no-m-p">SLOGAN</pre>
  </table>
</div>
<div class="table-container flex-center mv-10 text-center">
  <table class="boardtable">
    <tr>
      <th>Board
      <th>Description
      <th>PPH
      <th>Users
      <th>Posts
    {{boards}}
<!-- loop -->
    <tr>
      <td><a href="{{uri}}/">/{{uri}}/ - {{title}}</a>
      <td>{{description}}
      <td>
      <td>
      <td>
<!-- end -->
    <tr>
      <td colspan="5">
        <a class="bold" href="/boards.php">More Boards</a>
  </table>
</div>
<!-- div class="table-container flex-center mv-10 text-center">
  <table style="max-width:450px">
    <tr><th>Overall Stats
    <tr><td>
      <pre class="no-m-p">
        There are currently
        <span class="bold">x</span> public boards,
        <span class="bold">x</span> in total. Sitewide,
        <span class="bold">x</span> posts have been made in the last hour,
        <span class="bold">x</span> in total.
        <span class="bold">x</span> files are being served, totaling
        <span class="bold">xGB</span>.
      </pre>
  </table>
</div -->
