<h1 class="board-title">Sign Up</h1>
<div class="form-wrapper flex-center mv-10">
  <noscript>If you can enable Javascript, you will get a higher level of security, please consider enabling it</noscript>
  {{form}}
  <p><a href="{{forgot_account}}">forgot username/password</a></p>
  <p><a href="{{login}}">log in</a></p>
</div>
