<br>
<h2>Administrative Interface</h2>
<nav class="stickynav">
  <a class="nav-item" href="#bottom">[&#9660;]</a>
  <a class="nav-item" href="#top">[&#9650;]</a>
</nav>
<ul class="pages">
 {{adminNav}}
</ul>
