  <hr size="1">
  <div class="wrapbar">
    <div class="pages">
      {{boardNav}}
    </div>
    {{threadstats}}
  </div>
  <!-- div class="jsonly" id="livetext">
    <div class="dot" id="livecolor"></div>
    Connecting...
    <input class="postform-style ml-5 di" type="button" value="Update">
  </div -->
  {{postactions}}
</form>
<!-- loop -->
  <div id="threadstats">
    <span>{{replies}} replies</span> | <span>{{files}} file</span>
  </div>
<!-- end -->