<div class="anchor" id="{{no}}"></div>
<div class="post-container {{op}}" data-board="{{uri}}" data-post-id="{{no}}" data-name="{{name}}" data-subject="{{subject}}">
  <div class="post-info">
    <span>
{{postmeta}}
      <time class="post-date reltime" datetime="{{jstime}}">{{human_created_at}}</time>
    </span>
    <span class="post-links">
      <a class="noselect no-decoration" href="/{{uri}}/thread/{{threadNum}}.html#{{no}}" title="Externally link to this specific post">No.</a>
      <span class="post-quoters">
        <a class="no-decoration" href="/{{uri}}/thread/{{threadNum}}.html#postform" title="Reply to this post">{{no}}</a>
      </span>
      <!-- endchan put these before... -->
      {{postlinks}}
      <!-- reply is the primary interaction with share 2nd -->
      <!--
      we can use css to compress minimize options
      or summary/details
      -->
      <span class="replies mt-5 ml-5">{{replies}}</span>
      <details style="display: inline;">
        <summary>Actions</summary>
        <div style="position: absolute; z-index: 1; background-color: {{backgroundColorCSS}}; padding: 5px;">
        {{actions}}
        </div>
      </details>
      {{links}}
    </span>
  </div>
  <div class="post-data">
    <div class="post-files">{{files}}</div>
    <pre class="post-message">{{message}}</pre>
    {{omitted}}
    <!-- leave a place for js to dump these -->
  </div>
</div>
<!-- loop -->
        <input class="post-check" type="checkbox" name="checkedposts[]" value="{{no}}"/>
<!-- end -->
<!-- loop -->
        <span class="post-icons">
          {{icons}}
        </span>
<!-- end -->
<!-- loop -->
          <img src="images/img/{{icon}}.png" height="14" width="14" title="{{title}}">
<!-- end -->
<!-- loop -->
  <div class="post-file {{majorMimeType}}">
    <!-- src is more like media... -->
    <div class="post-file-src" data-type="{{majorMimeType}}" data-attachment="false">
      <!-- expandableMedia ? -->
      {{expander}}
    </div>
    <span class="post-file-info">
      <span>
        <a class="filename" href="{{path}}" title="Download {{filename}}" download="{{filename}}">{{shortfilename}}</a>
      </span>
      <!-- how would we implement this without js -->
      <span class="jsonly jsMediaActions"></span>
      <!-- what about video/audio length ... -->
      <span>({{size}}, {{width}}x{{height}})</span>
    </span>
  </div>
<!-- end -->
<!-- loop -->
        Replies: {{replies}}
<!-- end -->
<!-- loop -->
  <a class="quote" href="/{{uri}}/thread/{{threadNum}}.html#{{no}}">&gt;&gt;{{no}}</a>
<!-- end -->
<!-- loop -->
    <div class="cb mt-5 ml-5">
      <details class="threadExpander">
        <summary>{{replies_omitted}} replies omitted. <!-- a href="{{uri}}/thread/{{threadNum}}.html">View the full thread</a --> Click to expand viewer</summary>
        <div>
          <!-- meta http-equiv="refresh" content="0;URL={{threadUrl}}" / -->
          <iframe title="expanded thread viwer" name="thread{{threadNum}}View" width=700 style="height: 50vh;" srcdoc='<a id="link" style="display: block; line-height: 100vh; text-align: center; width: 700px; height: 100vh;" target="thread{{threadNum}}View" href="{{threadUrl}}">Please click to load all the html for full thread #{{threadNum}}</a>'>
          </iframe>
        </div>
      </details>
    </div>
<!-- end -->