<details class="toggle-label" id="actionform">
  <summary class="toggle-summary">Show Post Actions</summary>
  <div class="actions">
    <h4 class="no-m-p">Actions:</h4>
    <label>
      <input class="post-check" type="checkbox" name="delete" value="1">
      Delete Posts
    </label>
    <label>
      <input class="post-check" type="checkbox" name="unlink_file" value="1">
      Unlink Files
    </label>
    <label>
      <input class="post-check" type="checkbox" name="spoiler" value="1">
      Spoiler Files
    </label>
    <label>
      <input id="password" type="password" name="postpassword" placeholder="Post password" autocomplete="chrome-off">
    </label>
    <label>
      <input class="post-check" type="checkbox" name="report" value="1">
      Report
    </label>
    <label>
      <input class="post-check" type="checkbox" name="global_report" value="1">
      Global Report
    </label>
    <label>
    <input id="report" type="text" name="report_reason" placeholder="Report reason" autocomplete="chrome-off">
    </label>
  </div>
  <div class="actions">
    <h4 class="no-m-p">Captcha:</h4>
    <a class="text-center" href="/faq.html#captcha">Instructions</a>
    <div class="catalog">
      <noscript class="no-m-p">
        <iframe class="captcha" src="/captcha.html" width="150" height="150" scrolling="no" loading="lazy">
        </iframe>
      </noscript>
      <div class="jsonly captcha" style="display:none">
      </div>
      <div class="captchafield noselect">
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="0">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="1">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="2">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="3">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="4">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="5">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="6">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="7">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="8">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="9">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="10">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="11">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="12">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="13">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="14">
        <span class="captchacheckbox">
        </span>
        </label>
        <label class="captchachecklabel">
        <input type="checkbox" name="captcha" value="15">
        <span class="captchacheckbox">
        </span>
        </label>
      </div>
    </div>
  </div>
  <input type="submit" value="submit">
</details>