<section class="form-wrapper flex-center">
  {{form}}
  <!-- toggle-summary => collapse -->
<!-- loop -->
  <a class="openPostForm no-decoration" href="{{action}}#postform">[New {{type}}]</a>
<!-- loop -->
</section>